<html>
<head>
  <title>Positioning State Generator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <a href="https://github.com/garbados/positioning-generator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  <div class="jumbotron" style="text-align: center;">
    <p>Forgot to prep for that investor pitch? We got you:</p>
    <h1>{{ position }}</h1>
    <p>Refresh to try again :D</p>
    <p>From <a href="https://twitter.com/garbados">@garbados</a> with love</p>
  </div>
</body>
</html>